APP_NAME="" 				# Provide a value for APP_NAME
APP_VERSION="" 				# Provide a value for APP_VERSION
APP_DESCRIPTION="" 				# Provide a value for APP_DESCRIPTION
FILE_ALLOWED_EXTENTIONS="" 				# Provide a value for FILE_ALLOWED_EXTENTIONS
FILE_MAX_SIZE_IN_MB="" 				# Provide a value for FILE_MAX_SIZE_IN_MB
FILE_DEAFAULT_CHINK_SIZE="" 				# Provide a value for FILE_DEAFAULT_CHINK_SIZE
MONGODB_URL="" 				# Provide a value for MONGODB_URL
MONGODB_DATABASE="" 				# Provide a value for MONGODB_DATABASE
OPENAI_API_KEY="" 				# Provide a value for OPENAI_API_KEY
